#logoBar {
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
    float: left;
    margin-top: 5px;
}

#userWelcome {
    margin-right: 5px;
    margin-top: 15px;
}

#userIcon {
    font-size: 50px;
    text-align: right;
}

.menu i {
    font-size: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#loginContainer p {
    padding-top: 2px;
}

#loginContainer button {
    padding: 2px;
}

#hamburger {
    float: left;
    margin-right: 10px;
    top: 20px;
    font-size: 30px;
}

#menuLateral {
    display: none;
    width: 100%;
}

.grass {
    background-image: url("images/imagesboard/game/tiles/grass.png");
    height: 50px;
    width: 50px;
}

.stoneWall {
    background-image: url("images/imagesboard/game/tiles/stone-wall.png");
    height: 50px;
    width: 50px;
}

.jewel1 {
    background-image: url("images/imagesboard/game/jewels/jewel1.png");
    height: 50px;
    width: 50px;
}

.jewel2 {
    background-image: url("images/imagesboard/game/jewels/jewel2.png");
    height: 50px;
    width: 50px;
}

.jewel3 {
    background-image: url("images/imagesboard/game/jewels/jewel3.png");
    height: 50px;
    width: 50px;
}

.jewel4 {
    background-image: url("images/imagesboard/game/jewels/jewel4.png");
    height: 50px;
    width: 50px;
}

.beepUp {
    background-image: url("images/imagesboard/game/characters/beep-up.png");
    height: 50px;
    width: 50px;
}

.beepDown {
    background-image: url("images/imagesboard/game/characters/beep-down.png");
    height: 50px;
    width: 50px;
}

.beepRight {
    background-image: url("images/imagesboard/game/characters/beep-right.png");
    height: 50px;
    width: 50px;
}

.beepLeft {
    background-image: url("images/imagesboard/game/characters/beep-left.png");
    height: 50px;
    width: 50px;
}

.dotUp {
    background-image: url("images/imagesboard/game/characters/dot-up.png");
    height: 50px;
    width: 50px;
}

.dotDown {
    background-image: url("images/imagesboard/game/characters/dot-down.png");
    height: 50px;
    width: 50px;
}

.dotRight {
    background-image: url("images/imagesboard/game/characters/dot-right.png");
    height: 50px;
    width: 50px;
}

.dotLeft {
    background-image: url("images/imagesboard/game/characters/dot-left.png");
    height: 50px;
    width: 50px;
}

.pangleUp {
    background-image: url("images/imagesboard/game/characters/pangle-up.png");
    height: 50px;
    width: 50px;
}

.pangleDown {
    background-image: url("images/imagesboard/game/characters/pangle-down.png");
    height: 50px;
    width: 50px;
}

.pangleRight {
    background-image: url("images/imagesboard/game/characters/pangle-right.png");
    height: 50px;
    width: 50px;
}

.pangleLeft {
    background-image: url("images/imagesboard/game/characters/pangle-left.png");
    height: 50px;
    width: 50px;
}

.piUp {
    background-image: url("images/imagesboard/game/characters/pi-up.png");
    height: 50px;
    width: 50px;
}

.piDown {
    background-image: url("images/imagesboard/game/characters/pi-down.png");
    height: 50px;
    width: 50px;
}

.piRight {
    background-image: url("images/imagesboard/game/characters/pi-right.png");
    height: 50px;
    width: 50px;
}

.piLeft {
    background-image: url("images/imagesboard/game/characters/pi-left.png");
    height: 50px;
    width: 50px;
}

